body {
  width: 100%;
  margin: 0;
}

header {
  width: 100%;
  height: 100px;
  background-color: #E7D4C0;
  margin-bottom: auto;
  overflow: hidden;
}

h1 {
  color: #658EA9;
  text-align: center;
  margin-top: 20px;
  font-size: 40px;
}

main {
  background-color: #E98973;
  padding-bottom: 20px;
  width: 100%;
}

section {
  padding-top: 20px;
  display: flex; 
  justify-content: center;
  width: 100%;
}